
@{
    ViewData["Title"] = "Sessie";
}


<div class="container">
    <br />
    <a role="button" class="btn btn-warning pull-right" asp-area="" asp-controller="Leerkracht" asp-action="Index">terug</a>


    @if (ViewBag.Sessie.IsActive)
    {
        <a role="button" class="btn btn-default pull-right">Start Sessie</a>

    }
    else
    {
        <a role="button" class="btn btn-default pull-right disabled">Start Sessie</a>
    }
    @if (ViewBag.Sessie.IsActive)
    {
        <a role="button" class="btn btn-default pull-right">Deactiveer Sessie</a>

    }
    else
    {
        <a role="button" class="btn btn-default pull-right" asp-area="" asp-controller="Leerkracht" asp-action="ActiveerSessie" asp-route-id="@ViewBag.Sessie.SessionCode">Activeer Sessie</a>
    }

    <h3>@ViewBag.Sessie.Name </h3>
    <p>Sessiecode: @ViewBag.Sessie.SessionCode</p>
    @{
        if (ViewBag.Sessie.IsActive)
        {
            <p>Actief</p>

        }
        else
        {
            <p>Niet actief</p>

        }
    }
</div>

<div class="container">
    <h3>Groepen </h3>


    @{

        if (ViewBag.Sessie.Box == null && ViewBag.Sessie.Groups.Count == 0)
        {
            <p>Box is null && groups is empty</p>

        }

        if (ViewBag.Sessie.Groups.Count > 0)
        {
            int i = 1;
            foreach (var group in ViewBag.Sessie.Groups)
            {
                <div class="list-group">
                    <a href="group${@i}" class="list-group-item">
                        <h4 class="list-group-item-heading">@group.Name</h4>
                        <ul>
                            @{ foreach (var student in group.Pupils)
                                {
                                    <li>@student.Name</li>
                                }
                            }
                        </ul>
                    </a>
                </div>

                i++;
            }

        }
        else
        {
            <p>Er zijn nog geen groepen in de huidige sessie.</p>

        }
    }


</div>


